<div class="container-fluid">
    <div class="row text-left">
            
            <div class="col-md-4 col-lg-3">
            <h1>Joakim Linna</h1>
            Mail: joakimlinna1998@gmail.com
            Slack: joakimlinna1998

            </div>
            <div class="ccol-md-4 col-lg-3">
            <h1>Jenny Miderkvist</h1>
            Mail: jenny.miderkvist@gmail.com
            Slack: Jennymid

            </div>
            <div class="col-md-4 col-lg-3">
            <h1>Petter Knutsson</h1>
            Mail: petterknutsson5@gmail.com
            Slack: pyotr


            </div>
            <div class="col-md-4 col-lg-3">
            <h1>Thomas Westerlund</h1>
            Mail: dmmealer@gmail.com
            Slack: Miuw

            </div>
            <div class="col-md-4 col-lg-3">
            <h1>Viola Turesson</h1>
            Mail: violaturesson@gmail.com
            Slack: violaturesson
            </div>

            <div class="col-md-4 col-lg-3">
            <h1>Michael Herkommer</h1>
            Mail: m@herkommer.co.uk
            Slack: michael
            </div>

        </div>
    </div>
