<form id="contactForm" name="sentMessage" method="post" role="form" action="https://formspree.io/teamchaos.t4@gmail.com">
    <div class="row">
        <div class="col-lg-7">
        
                                            
            <div class="form-group">
                <input class="form-control" id="name" name="name" type="text" placeholder="namn *"  required="" data-validation-required-message="Var snäll att inkludera ditt namn." aria-invalid="false">
                                            </div>
        
                                            <div class="form-group">
                                              <input class="form-control" name="email" type="email" placeholder="mailadress *" required="" data-validation-required-message="Var snäll att inkludera din mailadress">
                                              <p class="help-block text-danger"></p>
                                            </div>
        
                                            <div class="form-group">
                                                    <input class="form-control"name="company" type="text" placeholder="företag"  aria-invalid="false">
                                                    <p class="help-block text-danger"></p>
                                            </div>
        
                                            <div class="form-group">
                                              <input class="form-control" name="phone" type="tel" placeholder="telefonnummer ">
                                              <p class="help-block text-danger"></p>
                                            </div>
        
                                            <div class="form-group">
                                                    <textarea class="form-control" name="message" placeholder="meddelande *"  data-validation-required-message="Var snäll att inkludera ett meddelande." aria-invalid="false" style="min-height: 130px; max-height:300px;" required></textarea>
                                                    <p class="help-block text-danger"></p>
                                            </div>  
                                            <div class="col-lg-12 text-center">
                                                    <div id="success"></div>
                                                    <button id="sendMessageButton" class="btn btn-primary" id="submit" name="submit" type="submit">Skicka</button>
                                            </div> 
        
        </div>

                                          
        
                                            <div class="col-lg-5">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                            
                                                            <div class="contact-blocks text-left">
                                                                    <img src="../images/chaos-thumbnail.png" alt="Team Chaos">
                                                                    <div class="contact-info">
                                                                        <h4><strong>Team Chaos</strong></h4>
                                                                        <h5>Vår gemensamma mail</h5>
                                                                        <br>
                                                                        <a href="mailto teamchaos.t4@gmail.com"><i class="fa fa-1x fa-envelope"></i> <span class="mail">teamchaos.t4@gmail.com</span></a>
                                                                    </div>
                                                              </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                              
                                                              <div class="contact-blocks text-left">
                                                                    <img src="../images/michael-thumbnail.jpg" alt="Michael Herkommer">
                                                                    <div class="contact-info">
                                                                        <h4><strong>Huvudansvarig T4</strong></h4>
                                                                        <h5>Michael Herkommer</h5>
                                                                        <br>
                                                                        <a href="mailto m@herkommer.co.uk"><i class="fa fa-1x fa-envelope"></i> <span class="mail">m@herkommer.co.uk</span></a>
                                                                    </div>
                                                              </div>
                                                    </div> 
                                                </div> 
                                            </div>
          
                                            </div>
        
                                            
                                      </form>